.navbar-custom{
    background-color: #476072;
    color: white;
}
nav i{
    color: white;
}
.f1{
    background-color: #476072;
    color: white;
    padding: 0.5% 0;

}
.f2{
    background-color: #334257;
    color: white;
    text-align: center;
    padding: 0.1% 0;
}

.bg1{
    background-color: #92A9BD;
    color: white;
}
.intbg{
    background-color: #4B6587 !important;
    color: white !important;
}
.pimg{
width: 50px;
margin: 1%;
}
h6{
    margin: 1%;
}
.btn-f{
    background-color: #D3DEDC !important;
}
.repclr{
    background-color: #334257 !important;
    color: white !important;
}
.avimg{
    width: 130px !important;
}
.tbg{
    font-size: 20px;
    color: white;
}
.xbg{
    font-size: 20px;
    color: white;
}
.btn-ac{
    background-color: #96BB7C !important;
    width: 80px;
    height: 40px;
}
.btn-ref{
    background-color: #FF6767 !important;
    width: 80px;
    height: 40px;
}
.bi-sz{
    font-size: 30px;

}
footer{
    height: 1px;
}

